*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     //forma de mudarmos o estilo em uma determinada tela, da tela miníma até a maxima "800px"
    @media (max-width: 800px) {
        flex-direction: column;
        justify-content: space-around;
    }
   
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none; //tirrar a lista 
    align-items: center;
    width: 70vw;
    @media (max-width: 800px) {
        flex-direction: column;
        
    }
    
}