* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Kodchasan", sans-serif;
}

header {
  margin: 0 2% 0 2%; //margin pode recebr quatro parametros primeiro parametro cima = 0 segundo parametro
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  img {
    width: 8vw;
  }
  //forma de mudarmos o estilo em uma determinada tela, da tela miníma até a maxima "800px"
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

ul {
  display: flex;
  list-style: none; //tirar a lista
  width: 70vw;
  justify-content: space-between;
  li {
    font-size: 14px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  }
}

.banner {
  width: 100%;
  @media (max-width: 800px) {
    //dando limite a existencia do banner
    display: none; //retirando o display do banner
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  //não esta presente.
  margin-top: 30px;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.caixa-one {
  width: 30vw;
  //não esta presente.
  line-height: 25px;
  text-align: center;

  h2 {
    margin-bottom: 5px;
  }

  @media (max-width: 800px) {
    width: 90%;
    text-align: center;
    margin-top: 30px;
  }
}

.produtos {
  figure {
    @media (max-width: 800px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      img {
        width: 25%;
        margin: 20px;
      }
    }
  }
}
